<header class="header">
  <h3 class="header__app-name"><a routerLink="/">FOOTBALL UPDATES</a></h3>
  <nav class="header__nav">
    <a
      routerLink="standigns/england"
      routerLinkActive="isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      id="englandSelect"
      >England</a
    >
    <a
      routerLink="standigns/spain"
      routerLinkActive="isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      id="spainSelect"
      >Spain</a
    >
    <a
      routerLink="standigns/germany"
      routerLinkActive="isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      id="germanySelect"
      >Germany</a
    >
    <a
      routerLink="standigns/france"
      routerLinkActive="isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      id="franceSelect"
      >France</a
    >
    <a
      routerLink="standigns/italy"
      routerLinkActive="isActive"
      [routerLinkActiveOptions]="{ exact: true }"
      id="italySelect"
      >Italy</a
    >
  </nav>
</header>
