.container-page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
  }

  .btn:hover {
    opacity: 0.8;
  }
}
